body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  height: 100vh;
}

.body {
  display: flex;
  width: 100%;
}

.upgrades,
.game-container,
.right-panel {
  width: 33.33%;
  box-sizing: border-box;
  padding: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align:top;
  background-color: #c9e6ff;
}

.background {
  width: 33.33%;
  box-sizing: border-box;
  padding: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align:top;
}

.upgrades button,
.game-container button,
.right-panel button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4c63af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

p {
  text-align: center;
  margin: 10px 0;
  color: #333;
  font-size:16px;
}

.fireball-image {
  width: 100px; 
  height: auto;
}
.thunderbolt-image {
  width: 100px; 
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .fireball-image {
  width: 100px;
  height: auto; 
  cursor: pointer;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
