body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  height: 100vh;
}

.body {
  display: flex;
  width: 100%;
}

.upgrades,
.game-container,
.right-panel {
  width: 33.33%;
  box-sizing: border-box;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align:top;
}

.upgrades {
  background-color: #f0f0f0;
}

.game-container {
  background-color: #e0e0e0;
}

.right-panel {
  background-color: #f0f0f0;
}

/* Align child elements to the top */
.upgrades > * {
  align-self: flex-start;
}

.game-container > * {
  align-self: flex-start;
}

.right-panel > * {
  align-self: flex-start;
}
